{% extends "layout/base.html" %}

{% block head %}
<!-- <script src="https://code.jquery.com/jquery-2.1.1.js"></script> -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery-2.1.1.min.js') }}"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<!-- Add d3.js -->
<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
{% endblock %}

{% block content %}
  <div class="container">
    <div class="starter-template">
      <h1>{{title}}</h1>
      <div id="cal-heatmap" style="position:relative;"></div>
      <div id="plot" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
  </div>
  <script>
  var cal = new CalHeatMap();
    cal.init({
        itemSelector: "#cal-heatmap",
        domain: "month",
        subDomain: "day",
        cellSize: 20,
        subDomainTextFormat: "%d",
        range: 1,
        displayLegend: false
    });
  </script>
  <script>
  $(function () {
    $('#plot').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: 'Monthly Average Temperature',
            x: -20 //center
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Number of edits'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'edits'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }]
    });
});
  </script>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}