{% extends "layout/base.html" %}

{% block head %}
<!-- <script src="https://code.jquery.com/jquery-2.1.1.js"></script> -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery-2.1.1.min.js') }}"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<!-- Add d3.js -->
<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
{% endblock %}

{% block content %}
  <div class="container">
    <div class="starter-template">
      <h1>{{title}}</h1>
      <h3>Activity in the past 6 months</h3>
      <p>
      <div id="cal-heatmap" style="min-width: 310px; margin: 0 auto"></div>
      <p>
      <div id="plot" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
  </div>
  <script>
  var cal = new CalHeatMap();
    cal.init({
        itemSelector: "#cal-heatmap",
        domain: "month",
        subDomain: "day",
        start: new Date(2014, 05, 01),
        cellSize: 20,
        subDomainTextFormat: "%d",
        considerMissingDataAsZero: true,
        range: 6,
        data: {{cal_data | safe}},
        displayLegend: false
    });

    {% for datap in cal_data %}
      console.log(String({{datap}}));
    {% endfor %}
  </script>
  <script>
  {% for datap2 in plot_data %}
      console.log(String({{datap2}}));
  {% endfor %}
  $(function () {
    $('#plot').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: 'Yearly Edit Count',
            x: -20 //center
        },
        xAxis: {
            categories: ['2001', '2002', '2003', '2004', '2005', '2006',
                '2007', '2008', '2009', '2010', '2011', '2012']
        },
        yAxis: {
            title: {
                text: 'Number of edits'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'edits'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: {{title}},
            data: [70, 69, 95, 145, 182, 215, 252, 265, 233, 183, 139, 96]
        }]
    });
});
  </script>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}